# Airplane Prices Analysis
Purpose is to analyze the relationship between Tweet complaints and the airline prices.<br>
By: Jonathan Lo<br>
Date: 6/6/23

## Overhead
General setup information including connecting to Mongo Instance.

In [1]:
# Imports
from pymongo import MongoClient
from pprint import pprint
from json import load
import pandas as pd

In [2]:
# Obtain secrets information
secrets_data = load(open("secrets.json", "r"))
mongo_user = secrets_data['MongoUser']
mongo_pass = secrets_data['MongoPass']

# Connect to Atlas
connection_string = f"mongodb+srv://{mongo_user}:{mongo_pass}@dsc104-final-project.6oeuizv.mongodb.net/"
client = MongoClient(connection_string)

# Obtain db clients
db_tweets = client.tweets
db_airports = client.airports
tweets = db_tweets.tweets
airports = db_airports.prices

## Create Master Dataset
Using data from [Bureau of Transportation Statistics](https://www.transtats.bts.gov/AverageFare/) to create master dataframe. Note: `Airport Name` is of the origin airport.

In [3]:
# load Dataframes
dataframes = {}
for year in range(2008, 2023):
    dataframe = pd.read_csv(f"../datasets/AverageFare_Annual_{year}.csv", skiprows=1)
    dataframes[str(year)] = dataframe

In [4]:
# Move to master
columns_to_keep = [
    ' Airport Code ',
    ' Airport Name ',
    ' City Name ',
    ' State Name ',
    ' Average Fare ($) ',
    ' Inflation Adjusted Average Fare ($) (Base Year: 2022) '
]
to_be_conc = []
for year, df in dataframes.items():
    new_df = df[:-3][columns_to_keep]
    new_df.columns = new_df.columns.str.strip()
    new_df['Year'] = year
    to_be_conc.append(new_df)
concatenated_df = pd.concat(to_be_conc)

In [5]:
# Preview
concatenated_df

,Airport Code,Airport Name,City Name,State Name,Average Fare ($),Inflation Adjusted Average Fare ($) (Base Year: 2022),Year
0,LAX,Los Angeles International,Los Angeles,CA,389.39,529.28,2008
1,ORD,Chicago O'Hare International,Chicago-O'Hare,IL,361.46,491.33,2008
2,DEN,Denver International,Denver,CO,325.86,442.94,2008
3,ATL,Hartsfield-Jackson Atlanta International,Atlanta,GA,351.23,477.42,2008
4,EWR,Newark Liberty International,Newark,NJ,428.99,583.11,2008
...,...,...,...,...,...,...,...
440,HNM,Hana Airport,Hana,HI,530.00,530.00,2022
441,JBR,Jonesboro Municipal,Jonesboro,AR,468.00,468.00,2022
442,ANI,Aniak Airport,Aniak,AK,1733.00,1733.00,2022
443,HNH,Hoonah Airport,Hoonah,AK,354.00,354.00,2022
444,HNS,Haines Airport,Haines,AK,314.00,314.00,2022

In [6]:
# Saving
concatenated_df.to_csv("../datasets/master_price.csv")

## Analysis
Perform analysis to see trends among tweet complaints and cost of ticket at origin airport.

In [7]:
# Query for airports and their prices based on state and year
query = {
    "State Name": "MA",
    "Year": 2018
}
projection = {
    "_id": 0,
    "Airport Code": 1,
    "City Name": 1,
    "Average Fare ($)": 1
}
results = list(airports.find(query, projection))

In [8]:
pprint(results)

[{'Airport Code': 'BOS', 'Average Fare ($)': 328.21, 'City Name': 'Boston'},
 {'Airport Code': 'ORH', 'Average Fare ($)': 284.32, 'City Name': 'Worcester'},
 {'Airport Code': 'ACK', 'Average Fare ($)': 316.93, 'City Name': 'Nantucket'},
 {'Airport Code': 'MVY',
  'Average Fare ($)': 324.82,
  'City Name': "Martha's Vineyard"},
 {'Airport Code': 'HYA', 'Average Fare ($)': 258.12, 'City Name': 'Hyannis'},
 {'Airport Code': 'PVC',
  'Average Fare ($)': 446.07,
  'City Name': 'Provincetown'},
 {'Airport Code': 'EWB',
  'Average Fare ($)': 522.5,
  'City Name': 'New Bedford/Fall River'}]