In [60]:
import pandas as pd

In [61]:
tweets = pd.read_csv("Tweets.csv")
tweets

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14635,569587686496825344,positive,0.3487,NaN,0.0000,American,NaN,KristenReenders,NaN,0,@AmericanAir thank you we got on a different f...,NaN,2015-02-22 12:01:01 -0800,NaN,NaN
14636,569587371693355008,negative,1.0000,Customer Service Issue,1.0000,American,NaN,itsropes,NaN,0,@AmericanAir leaving over 20 minutes Late Flig...,NaN,2015-02-22 11:59:46 -0800,Texas,NaN
14637,569587242672398336,neutral,1.0000,NaN,NaN,American,NaN,sanyabun,NaN,0,@AmericanAir Please bring American Airlines to...,NaN,2015-02-22 11:59:15 -0800,"Nigeria,lagos",NaN
14638,569587188687634433,negative,1.0000,Customer Service Issue,0.6659,American,NaN,SraJackson,NaN,0,"@AmericanAir you have my money, you change my ...",NaN,2015-02-22 11:59:02 -0800,New Jersey,Eastern Time (US & Canada)
14639,569587140490866689,neutral,0.6771,NaN,0.0000,American,NaN,daviddtwu,NaN,0,@AmericanAir we have 8 ppl so we need 2 know h...,NaN,2015-02-22 11:58:51 -0800,"dallas, TX",NaN

In [62]:
tweets[((tweets.negativereason == "Can't Tell") | (pd.isnull(tweets.negativereason))) & (tweets.airline_sentiment == "negative")].to_csv("unlabeled_negative_tweets.csv", index=False)

In [63]:
df = tweets[~((tweets.negativereason == "Can't Tell") | (pd.isnull(tweets.negativereason))) & (tweets.airline_sentiment == "negative")]

In [64]:
df

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
15,570282469121007616,negative,0.6842,Late Flight,0.3684,Virgin America,NaN,smartwatermelon,NaN,0,@VirginAmerica SFO-PDX schedule is still MIA.,NaN,2015-02-24 10:01:50 -0800,"palo alto, ca",Pacific Time (US & Canada)
17,570276917301137409,negative,1.0000,Bad Flight,1.0000,Virgin America,NaN,heatherovieda,NaN,0,@VirginAmerica I flew from NYC to SFO last we...,NaN,2015-02-24 09:39:46 -0800,this place called NYC,Eastern Time (US & Canada)
20,570265883513384960,negative,0.6705,High Cost,0.3614,Virgin America,NaN,MISSGJ,NaN,0,@VirginAmerica why are your first fares in May...,NaN,2015-02-24 08:55:56 -0800,NaN,NaN
24,570256553502068736,negative,1.0000,Customer Service Issue,0.3557,Virgin America,NaN,ayeevickiee,NaN,0,@VirginAmerica you guys messed up my seating.....,NaN,2015-02-24 08:18:51 -0800,714,Mountain Time (US & Canada)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14631,569588464896876545,negative,1.0000,Bad Flight,1.0000,American,NaN,MDDavis7,NaN,0,@AmericanAir thx for nothing on getting us out...,NaN,2015-02-22 12:04:07 -0800,US,Eastern Time (US & Canada)
14633,569587705937600512,negative,1.0000,Cancelled Flight,1.0000,American,NaN,RussellsWriting,NaN,0,@AmericanAir my flight was Cancelled Flightled...,NaN,2015-02-22 12:01:06 -0800,Los Angeles,Arizona
14634,569587691626622976,negative,0.6684,Late Flight,0.6684,American,NaN,GolfWithWoody,NaN,0,@AmericanAir right on cue with the delaysðŸ‘Œ,NaN,2015-02-22 12:01:02 -0800,NaN,Quito
14636,569587371693355008,negative,1.0000,Customer Service Issue,1.0000,American,NaN,itsropes,NaN,0,@AmericanAir leaving over 20 minutes Late Flig...,NaN,2015-02-22 11:59:46 -0800,Texas,NaN
14638,569587188687634433,negative,1.0000,Customer Service Issue,0.6659,American,NaN,SraJackson,NaN,0,"@AmericanAir you have my money, you change my ...",NaN,2015-02-22 11:59:02 -0800,New Jersey,Eastern Time (US & Canada)

In [65]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import classification_report

In [66]:
X_train, X_test, y_train, y_test = train_test_split(df['text'], df['negativereason'], test_size=0.2, stratify=df['negativereason'], random_state=42)

In [67]:
vectorizer = TfidfVectorizer()
X_train_vectors = vectorizer.fit_transform(X_train)
X_test_vectors = vectorizer.transform(X_test)

In [68]:
classifier = LinearSVC()
classifier.fit(X_train_vectors, y_train)

LinearSVC()

In [69]:
y_pred = classifier.predict(X_test_vectors)

In [70]:
report = classification_report(y_test, y_pred)
report

/Users/dylannewman/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/dylannewman/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/dylannewman/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

'                             precision    recall  f1-score   support\n\n                 Bad Flight       0.53      0.38      0.44       116\n           Cancelled Flight       0.77      0.67      0.72       169\n     Customer Service Issue       0.69      0.77      0.73       582\n            Damaged Luggage       0.50      0.13      0.21        15\nFlight Attendant Complaints       0.52      0.33      0.41        96\n    Flight Booking Problems       0.48      0.38      0.42       106\n                  High Cost       0.00      0.00      0.00         1\n                Late Flight       0.65      0.77      0.71       333\n               Lost Luggage       0.62      0.69      0.66       145\n                  longlines       0.38      0.14      0.20        36\n\n                   accuracy                           0.65      1599\n                  macro avg       0.51      0.43      0.45      1599\n               weighted avg       0.64      0.65      0.64      1599\n'

In [71]:
unlabeled_data = tweets[((tweets.negativereason == "Can't Tell") | (pd.isnull(tweets.negativereason))) & (tweets.airline_sentiment == "negative")]

In [86]:
new_vectors = vectorizer.transform(tweets["text"])

In [87]:
new_predictions = classifier.predict(new_vectors)
new_confidences = classifier.decision_function(new_vectors)

In [88]:
confidence_threshold = 0.5

In [89]:
tweets['predicted_category'] = [
    category if max_prob > confidence_threshold else None
    for category, probs in zip(new_predictions, new_confidences)
    for max_prob in [max(probs)]]

In [90]:
tweets

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone,predicted_category
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada),None
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada),None
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada),None
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada),Bad Flight
4,570300817074462722,negative,1.0000,None,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada),None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14635,569587686496825344,positive,0.3487,NaN,0.0000,American,NaN,KristenReenders,NaN,0,@AmericanAir thank you we got on a different f...,NaN,2015-02-22 12:01:01 -0800,NaN,NaN,None
14636,569587371693355008,negative,1.0000,Customer Service Issue,1.0000,American,NaN,itsropes,NaN,0,@AmericanAir leaving over 20 minutes Late Flig...,NaN,2015-02-22 11:59:46 -0800,Texas,NaN,Customer Service Issue
14637,569587242672398336,neutral,1.0000,NaN,NaN,American,NaN,sanyabun,NaN,0,@AmericanAir Please bring American Airlines to...,NaN,2015-02-22 11:59:15 -0800,"Nigeria,lagos",NaN,Customer Service Issue
14638,569587188687634433,negative,1.0000,Customer Service Issue,0.6659,American,NaN,SraJackson,NaN,0,"@AmericanAir you have my money, you change my ...",NaN,2015-02-22 11:59:02 -0800,New Jersey,Eastern Time (US & Canada),Customer Service Issue
14639,569587140490866689,neutral,0.6771,NaN,0.0000,American,NaN,daviddtwu,NaN,0,@AmericanAir we have 8 ppl so we need 2 know h...,NaN,2015-02-22 11:58:51 -0800,"dallas, TX",NaN,None

In [80]:
unlabeled_data["negativereason"] = unlabeled_data["negativereason"].replace("Can't Tell", None)

/var/folders/xg/2jx4h1913bx28fptfgb7xjx00000gn/T/ipykernel_32523/3883863618.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unlabeled_data["negativereason"] = unlabeled_data["negativereason"].replace("Can't Tell", None)

In [81]:
unlabeled_data["negativereason"] = unlabeled_data["negativereason"].fillna(unlabeled_data["predicted_category"])

/var/folders/xg/2jx4h1913bx28fptfgb7xjx00000gn/T/ipykernel_32523/2218809476.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unlabeled_data["negativereason"] = unlabeled_data["negativereason"].fillna(unlabeled_data["predicted_category"])

In [91]:
tweets["negativereason"] = tweets["negativereason"].replace("Can't Tell", None)

In [92]:
tweets["negativereason"] = tweets["negativereason"].fillna(tweets["predicted_category"])

In [93]:
tweets

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone,predicted_category
0,570306133677760513,neutral,1.0000,None,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada),None
1,570301130888122368,positive,0.3486,None,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada),None
2,570301083672813571,neutral,0.6837,None,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada),None
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada),Bad Flight
4,570300817074462722,negative,1.0000,None,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada),None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14635,569587686496825344,positive,0.3487,None,0.0000,American,NaN,KristenReenders,NaN,0,@AmericanAir thank you we got on a different f...,NaN,2015-02-22 12:01:01 -0800,NaN,NaN,None
14636,569587371693355008,negative,1.0000,Customer Service Issue,1.0000,American,NaN,itsropes,NaN,0,@AmericanAir leaving over 20 minutes Late Flig...,NaN,2015-02-22 11:59:46 -0800,Texas,NaN,Customer Service Issue
14637,569587242672398336,neutral,1.0000,Customer Service Issue,NaN,American,NaN,sanyabun,NaN,0,@AmericanAir Please bring American Airlines to...,NaN,2015-02-22 11:59:15 -0800,"Nigeria,lagos",NaN,Customer Service Issue
14638,569587188687634433,negative,1.0000,Customer Service Issue,0.6659,American,NaN,SraJackson,NaN,0,"@AmericanAir you have my money, you change my ...",NaN,2015-02-22 11:59:02 -0800,New Jersey,Eastern Time (US & Canada),Customer Service Issue
14639,569587140490866689,neutral,0.6771,None,0.0000,American,NaN,daviddtwu,NaN,0,@AmericanAir we have 8 ppl so we need 2 know h...,NaN,2015-02-22 11:58:51 -0800,"dallas, TX",NaN,None

In [11]:
pd.DataFrame(pd.unique(tweets["tweet_location"])).to_csv("Test.csv", index=False)

In [22]:
from geopy.geocoders import GoogleV3
geolocator = GoogleV3(api_key='AIzaSyB3Nboc4DWnbDimlvfJ2TPs5P_LKUgvC70')  # Replace with your actual API key
def match_place_name(place_name):
    location = geolocator.geocode(place_name)  # Geocode the place name
    if location:
        return location.address
    else:
        return None

# Usage example
place_name = "Oakland"
match_place_name(place_name)

'Oakland, CA, USA'

In [106]:
locations = pd.DataFrame(pd.unique(tweets["tweet_location"]))

In [107]:
tweets["tweet_id"]

0        570306133677760513
1        570301130888122368
2        570301083672813571
3        570301031407624196
4        570300817074462722
                ...
14635    569587686496825344
14636    569587371693355008
14637    569587242672398336
14638    569587188687634433
14639    569587140490866689
Name: tweet_id, Length: 14640, dtype: int64

In [108]:
locations = locations.rename(columns={0: "data"})

In [109]:
from tqdm import tqdm

In [110]:
tqdm.pandas()

In [111]:
names = locations["data"].progress_apply(match_place_name)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 3082/3082 [04:36<00:00, 11.15it/s]

In [112]:
names

0                            None
1                            None
2          San Francisco, CA, USA
3            Los Angeles, CA, USA
4              San Diego, CA, USA
                  ...
3077          Chelmsford, MA, USA
3078              Pueblo, CO, USA
3079            Columbus, OH, USA
3080    Milwaukee County, WI, USA
3081               Lagos, Nigeria
Name: data, Length: 3082, dtype: object

In [113]:
locations["names"] = names

In [96]:
locations = locations.set_index("data")

In [99]:
locations = locations.drop_duplicates()

In [102]:
locations = locations.reset_index()

In [114]:
locations

                             data                      names
0                             NaN                       None
1                       Lets Play                       None
2                San Francisco CA     San Francisco, CA, USA
3                     Los Angeles       Los Angeles, CA, USA
4                       San Diego         San Diego, CA, USA
...                           ...                        ...
3077               Chelmsford, MA        Chelmsford, MA, USA
3078                   Pueblo, CO            Pueblo, CO, USA
3079            Columbus, OH, USA          Columbus, OH, USA
3080  Milwaukee County, Wisconsin  Milwaukee County, WI, USA
3081                Nigeria,lagos             Lagos, Nigeria

[3082 rows x 2 columns]

In [116]:
tweets.merge(locations, how="left", left_on="tweet_location", right_on="data").to_csv("updated_data.csv", index=False)